html{}
body {
	background-color: #1e1f1e;
	/*background-color: #2A2826;*/
	color: #dadede;
	height: 100%;
	-webkit-transition: 0.3s;
	transition: 0.3s ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}
h1{
	/*padding: 0 0 10px 0;*/
	font-size: 3.4em;
	margin: 5px 0 0 0;
	border-bottom: 1px solid #A13434;
}

.no-decoration, .no-decoration:hover, .no-decoration:visited, .no-decoration:active{text-decoration: none; color:#dadede}

/*.red{background-color: #D27274}*/
/*.pink{background-color: #E8A4B4}*/
/*.green{background-color: #A3D596}*/
.header {
	/*height: 68px;
	-webkit-transition: 0.2s;
	transition: 0.2s ease-out;
	margin: 0 0 30px 1px;
	padding: 9px 0 9px 0;*/
	-webkit-transition: 0.3s;
	transition: 0.3s ease-out;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 55px;
	z-index: 100;
}
.emphasis{
	font-weight: bold;
	font-size: 1.3em;
}
.transparent {
	opacity: 0.85;
}

.center-block, .title {
  	display: block;
}

.login{
	background: #555;
	border-radius: 0 0 4px 4px;
	text-align: right;
	float: right;
	display: inline-block;
	/*z-index: 101;*/
	margin-right: 40px;
	padding: 13px 20px 0 20px;
	position: fixed;
	top:54px;
	right: 0;
	box-shadow: 0 0 7px #333;
}
.login .input-field, .login span{
	display: inline-block;
	width: 80px;
}
.login .input-field{margin: 0 3px;}
.login .input-field input{height: 35px;}
.login .input-field label{font-size: 0.8em; pointer-events:none;}
.login button{font-size:0.7em;border-radius: 3px; line-height:30px; height: 30px; margin: 6px 0 0 6px;}

@media only screen and (min-width: 480px) {
    .login .input-field, .login span{
	width: 120px;
	}
	.login button{font-size:1em;}
}   
.title {
	line-height: 55px;
	font-size: 2.2em;
	font-family: 'Montserrat', sans-serif;
	text-shadow: rgb(56, 56, 56) 1px 1px,
		rgb(56, 56, 56) 2px 2px,
		rgb(56, 56, 56) 3px 3px,
		rgb(57, 57, 57) 4px 4px,
		rgb(58, 58, 58) 5px 5px,
		rgb(59, 59, 59) 6px 6px,
		rgb(60, 60, 60) 7px 7px,
		rgb(61, 61, 61) 8px 8px,
		rgb(62, 62, 62) 9px 9px,
		rgb(63, 63, 63) 10px 10px,
		rgb(64, 64, 64) 11px 11px,
		rgb(65, 65, 65) 12px 12px,
		rgb(66, 66, 66) 13px 13px,
		rgb(68, 68, 68) 14px 14px;
	background-color: rgb(68, 68, 68);
	-webkit-box-shadow: 0px 0px 11px 4px rgba(34,34,34,0.73);
	box-shadow: 0px 0px 11px 4px rgba(34,34,34,0.73);

	background-color: rgb(68, 68, 68);
	background-color: #444444;
}

.spacing{padding-top: 55px;}
.small-spacing{padding-top: 40px;}
.main{height: 100%;}

.splash{overflow: auto; overflow-x:hidden; }
.splash p{color: #aaa;}
.splash b{color: #eee;}
.splash img{
	width: 100%;
	border-radius: 3px;
	border:2px solid #2a2a2a;
	margin-bottom:15px; 
	/*border: 2px solid #15CABD;*/
	-webkit-transition: 800ms linear;
	transition: 800ms linear;
}
.splash .btn{
	margin: 10px auto;
	width: 100%;
	font-size: 1.2em;
	line-height: 3em;
	padding: 0 20px;
	height: 3em;
	border-radius: 3px;
}

.loginTitle{font-size: 1.5em;}

button{
	border: none;
	background: #26707D;
	color: #dadede;
	margin:0;
}
button:hover{
	/*opacity: 0.8;*/
	/*background: #6B9299;*/
}


.login-button{
	padding: 8px 25px;
	margin: 5px 0 0 0;
	font-size: 1.2em;
	line-height: 0.7;
	/*border-radius: 6px;*/
}

.begin-button{
	padding: 8px 25px;
	font-size: 2.2em;
	line-height: 1.5em;
	background: #26707D;
	border-radius: 6px;
	margin-top: 20px;
	height: 60px;
}

.container{ position: relative;}
.intro {
	margin: 10px auto;
	background: #2a2a2a;
	padding: 20px 35px;
	color: #eee;
	max-width: 550px;
}

.outsideWrapper{
	width:1000px; height:1300px;
	margin: 20 20;
}

.panzoom{
	cursor: pointer !important;
}
.panzoom-parent img{
	width: 88%;
	height: 100%;
	margin-top: 80px;
}
.test-image{
	width:100%; height:100%; 
	max-height: 800px;
    position:relative;
	/*background: #179456;*/
	/*margin-top: 55px;*/
	/*background-image: url(../img/dog.jpg);*/
}
.preload{
	background-image: url('../img/loading2.gif');
	width: 1px; height: 1px; opacity: 0;
}
.loading{
	position: absolute;
	left: 50%;
	margin-top: 40%;
}
.loading div{
	border-radius: 50%;
	background-image: url('../img/loading2.gif');
	width: 115px; height: 115px; background-size: 200px;
	position: relative;
	border: 1px solid #fff;
	left: -50%;
	background-repeat: no-repeat;
	background-position: center;
}
.coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}

.coveringCanvas{
	/*width:100%; height:100%; */
    position:absolute; top:0px; left:0px;
	background-color: rgba(0,0,0,0);
	margin-top: 80px;
}
/*#circleCanvas{pointer-events:none;}*/

.toggle-bg{
	background: rgba(31, 31, 31, 0.7);
	width: 100%;
	position: fixed;
	display: inline;
	bottom: 0;
	float: left;
}
.instructions{
	position: absolute;
	background: rgba(31, 31, 31, 0.7);
	top: -35px;
	height: 35px;
	width: 100%;
	padding-top:8px;
	text-align: center;
	font-size: 1.1em;
}

.count #flower-button img{border: 3px solid rgb(192, 43, 96);}
.count #bud-button img{border: 3px solid rgb(219, 130, 50);}
.count #fruit-button img{border: 3px solid rgb(52, 214, 18);}
.button-container{
	margin: 3px 0px;
	padding: 15px 5px;
	width: 18%;
	min-width: 45px;
	display: inline-block;
	max-width: 100px;
  	overflow: hidden;
	background: rgba(107, 146, 153, 0);
	border-radius: 2px;
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
}
.button-container button{margin-bottom:10px; background-color: rgba(0,0,0,0.3);}
.selected{
	background: rgba(107, 146, 153, 0.8);
	border-radius: 2px
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
    position: relative;
}
.button-image{border-radius: 50%; position: absolute; top:0; left: 0; z-index:1}
.button-image.active{z-index:3}
.submit{
	border-radius: 50%;
	height: 100%;
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	color: #fff;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.skip-container{
	margin: 3px 5px;
	padding: 36px 0;
	min-width: 20px;
	display: inline-block;
	max-width: 70px;
	border-radius: 2px;
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
    width: 8%;
	height: 100%;
	display: inline-block;
	top:10px;
	vertical-align: top;
}
.skip{
	height: 25px; width: 25px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.toggle-button{
	width: 100%;
	min-height: 60px;
	min-width: 60px;
	max-height: 90px;
	max-width: 90px;
	vertical-align: middle;
	position: relative;
	padding: 0;
	border-radius: 50%;
}
.left-indent{
	margin-left: 20px;
}
.left-indent-lg{
	margin-left: 30%;
}
.standalone-login{
	width: 400px;
	margin: 0 auto;
	background-color: #444;
	padding: 25px 50px;
	border-radius: 4px;
}
.standalone-login button{width: 100%}
.footer{
	margin:30px 0 30px 0;
	padding:30px 0 0 0 ;
	border-top: 1px solid #444;
}

.game-home{text-align: left; padding-left: 24px;}
.gameUI{
	font-family: 'Open Sans', sans-serif;
	color: #eee;
	text-shadow:#333 2px 2px 1px;
	text-align: right;
	position: absolute;
	left: 50%;
}

.game-title{
	font-size: 1.4em;
	position: relative;
	z-index: 101;
	top: 12px;
	left: -50%;
}
.points{
	font-size: 0.8em;
	color: #ddd;
	position: absolute;
	z-index: 101;
	top: 12px; 
	right: 11px;
}
.completed{
	font-size: 0.8em;
	color: #999;
	position: absolute;
	z-index: 101;
	top: 30px; 
	right: 11px;

}

