	<!DOCTYPE HTML>
{% load staticfiles %}

<html class="splash">
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
		
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>
	<body class="main">

		<!-- Header -->
		<div class="header transparent">
			<!-- TODO: background image -->
			<div class="title text-center">curio-x</div>

		</div>

		<div class="container">

			<div class="spacing"></div>

			<div class="intro splash">
				
				<h4>Classification Game</h4>
				<h2></h2>
				<p>You will be presented with images of flora which <b>may</b> contain flowers, buds, or fruits.</p>
				<p>Sample images of different plants will be on the bottom of the screen (example below).</p>

				<img class="highlight" src="{% static 'img/splash.png' %}">

				 <p>Select which elements you think are present.</p>
				 <p>You can zoom by scolling, and pan by dragging your mouse.</p>
				 <p>Remember, there may be none, one, or more than one element!</p>

			</div>

		</div>

		<!-- Buttons -->
		<div class="toggle-bg text-center">			
			<div class="button-container">
				<button class="submit red lighten-2 waves-effect waves-light" id="back-button">
					<i class="fa fa-arrow-left fa-2x"></i>
				</button>

				<span>Back</span>
			</div>	
			<div class="button-container left-indent-lg">
				<button class="submit green lighten-3 waves-effect waves-light" id="game-button">
					<i class="fa fa-check fa-2x"></i>
				</button>
				<span>Start</span>
			</div>

			<!-- TODO: Add skip button -->
			<!-- <div class="spacing"></div> -->
		</div>
	
	<script src="{% static 'js/materialize.js' %}"></script>
	<script src="{% static 'js/splash.js' %}"></script>
	<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>	
