	<!DOCTYPE HTML>
{% load staticfiles %}

<html>
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/style.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
		<!--<script src="{% static 'js/gameScript.js' %}"></script>-->
		
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<!-- <link rel="import" href="{% static 'etc/paper-ripple.html' %}"> -->
		<link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
		
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>
	<body class="main">

		<!-- Header -->
		<div class="header transparent">
			<!-- TODO: background image -->
			<div class="title text-center">curio-x</div>


		</div>
		<div class="splash">
				
			<!-- <h1>Background</h1> -->
			<div class="intro">
				<p>Introductory Text</p>
			</div>

		</div>

		<!-- Buttons -->
		<div class="toggle-bg text-center">			
			<div class="button-container">
				<button class="raised submit">
				<!-- <img class="button-image" src="{% static 'img/flower1.jpg' %}"> -->
				<paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span id="submit-button">Back</span>
			</div>		
			<div class="button-container">
				<button class="raised submit">
				<!-- <img class="button-image" src="{% static 'img/flower1.jpg' %}"> -->
				<paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span id="submit-button">Start</span>
			</div>

			<!-- TODO: Add skip button -->
			<!-- <div class="spacing"></div> -->
		</div>
	
	</body>
</html>	
