	<!DOCTYPE HTML>
{% load staticfiles %}

<html>
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
		<script src="{% static 'js/gameScript.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
		<link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
		
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>
	<body class="test-image">

		<!-- Header -->
		<div class="header transparent">
			<!-- TODO: background image -->
			<div class="title text-center">curio-x</div>


		</div>
		<div class="outsideWrapper">
				
			<!-- <h1>Background</h1> -->
			<div class="test-image panzoom-parent" id="panzoomParent">
				<img class="panzoom coveredImage" id = "testImage" src="{% static 'img/plant.jpg' %}">
				<canvas id='circleCanvas' class='panzoom coveringCanvas' width=1000px height=800px>
			</div>
			  <!-- <script>
		        (function() {
		          var $section = $('.test-image');
		          $section.find('.panzoom').panzoom({
		            $zoomIn: $section.find(".zoom-in"),
		            $zoomOut: $section.find(".zoom-out"),
		            $zoomRange: $section.find(".zoom-range"),
		            $reset: $section.find(".reset"),
		            startTransform: 'scale(0.8)',
		            increment: 0.4,
		            minScale: 0.5,
		            maxScale: 2,
		            contain: 'invert'
		          }).panzoom('zoom');
		        })();
		      </script> -->

		</div>

		<!-- Main -->
		<div class="toggle-bg text-center">	                
			<div class="button-container ">
				<form action="/game/post2" method="post">
                {% csrf_token %}
				<button class="raised submit green" id="submit-button">
					<i class="fa fa-check fa-2x"></i>
					<paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span>Submit</span>
			</div>

			<!-- TODO: Add skip button -->
			<!-- <div class="spacing"></div> -->
		</div>

	<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>	
