	<!DOCTYPE HTML>
{% load staticfiles %}

<html>
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>

		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />

		<!-- <link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html"> -->
		
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>
	<body class="test-image">

		<!-- Header -->
		<div class="header transparent">
			<!-- TODO: background image -->
			<div class="title text-center"><a class="no-decoration" href="/">curio-x</a></div>


		</div>
		<div class="main">
				
			<!-- <h1>Background</h1> -->
			<div class="loading"><div></div></div>
			<div class="test-image panzoom-parent" id="panzoomParent">
				<!-- <img class="panzoom" id = "testImage" src="{% static 'img/plant.jpg' %}"> -->
				<!-- DO NOT REMOVE --><img class="panzoom" id = "testImage" src="{{ image_url }}"> 
			</div>
			  <script>
			  	(function() {
			  		var $section = $('.test-image');
			  		$section.find('.panzoom').panzoom({
			  			$zoomIn: $section.find(".zoom-in"),
			  			$zoomOut: $section.find(".zoom-out"),
			  			$zoomRange: $section.find(".zoom-range"),
			  			$reset: $section.find(".reset"),
			  			startTransform: 'scale(0.8)',
			  			// increment: 0.4,
			  			minScale: 0.9,
			  			maxScale: 3.5,
			  			// contain: 'invert'
			  		}).panzoom('zoom');

			  		var $panzoom = $section.find('.panzoom').panzoom();		          
			  		$panzoom.parent().on('mousewheel.focal', function( e ) {
			  			e.preventDefault();
			  			var delta = e.delta || e.originalEvent.wheelDelta;
			  			var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
			  			$panzoom.panzoom('zoom', zoomOut, {
			  				increment: 0.1,
			  				animate: false,
			  				focal: e
			  			});
			  		});
			  	})();
		      </script>

		</div>

		<!-- Buttons -->
		<div class="toggle-bg text-center">
			<div class="instructions">Select what you can see in the image.</div>              
			<div class="button-container waves-effect waves-light">
				<button class="toggle-button" id="flower-button">
				<img class="button-image" src="{% static 'img/flower1.jpg' %}"><paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span>Flower</span>
			</div>
			

			<div class="button-container waves-effect waves-light">
				<button class="toggle-button" id="bud-button">
				<img class="button-image" src="{% static 'img/bud1.jpg' %}"><paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span>Bud</span>
			</div>
			
			<div class="button-container waves-effect waves-light">
				<button class="toggle-button" id="fruit-button">
				<img class="button-image" src="{% static 'img/fruit1.jpg' %}"><paper-ripple class="circle recenteringTouch" fit></paper-ripple>
				</button>
				<span>Fruit</span>
			</div>

			<div class="button-container left-indent">
				<form action="/game/post" method="post" id="postClas">
                		{% csrf_token %}
					<button class="submit green lighten-3 waves-effect waves-light" id="submit-button">
						<i class="fa fa-check fa-2x"></i>
						<paper-ripple class="circle recenteringTouch" fit></paper-ripple>
					</button>
				</form>
				<span>Submit</span>
			</div>

			<div class="skip-container">
				<form action="/game/skip" method="post">
				{% csrf_token %}
					<button class="skip red lighten-2 waves-effect waves-light" id="skip-button">
						<i class="fa fa-share"></i>
						<paper-ripple class="circle recenteringTouch" fit></paper-ripple>
					</button>
				</form>
				<span>Skip</span>

			</div>

			<!-- TODO: Add skip button -->
			<!-- <div class="spacing"></div> -->
		</div>

		<script src="{% static 'js/materialize.js' %}"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>	
