<!DOCTYPE HTML>
{% load staticfiles %}

<html>
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>		

		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />

		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>
	<body>

		<!-- Header -->
		<div class="header">
			<!-- TODO: background image -->
			<div class="title text-center"><a class="no-decoration" href="/">curio-x</a></div>

		</div>

		<!-- Main -->
		<div class="container">

			<div class="spacing"></div>

			{% if not user.is_authenticated %}
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
				<div class="login text-right">

					<div class="input-field">
						<input id="id_username" maxlength="254" name="username" type="text">
			        	<label for="signin-username">Username</label>
			        </div>

					<div class="input-field">
						<input type="password" id="id_password" name="password">
					    <label for="signin-password">Password</label>
					</div>
					<button type="submit" class="waves-effect waves-light btn">Login</button>
					
				</div>

			</form>
			
			<div class="small-spacing"></div>

			{% else %}
				<div class="login text-right">
					<p><a href="/accounts/logout/">Log out</a></p>
				</div>
			{% endif %}

			<div class="intro">
				
				<h1>Background</h1>

				<h4>The What</h4>
				<p>We are trying to help scientific researchers sort and collect data for things that are hard for computers to do, but easy for people to do. At this stage, Curios is simply put, an image sorting and classification game. We incorporate gamification and crowd-sourcing to achieve our goals.</p>
				
				<h4>The Why</h4>
				<p>Image recognition software is at an evolving but primitive state. The computing process and time required to sort and categorize images through software will take much longer than it would take people to do. A famous example would be the how <a href="http://fold.it/portal/">Foldit</a> users produced an accurate 3D model of the enzyme in just ten days, while the problem of how to configure the structure of the enzyme had been an unaccomplished goal of scientists for <b>15 years.</b></p>

				<h4>The How</h4>
				<p>We collect the data you provide, aggregate it, and put it through an algorithm to filter out inaccuracies. We will then visualize the data to easily determine trends and patterns. We are also tuning the engagement of the project to make this more fun and awesome.</p>

				<h4>The People</h4>
				<p>We are 4 Systems Design Engineering students at the University of Waterloo: Charles Wu, Jonathan Johnston, Robert Bon, Kenneth Chan. We are supervised by Professor Edith Law, and are doing this project as a part of our Fourth Year Design Project for Systems Design Engineering.</p>
			</div>

		</div>
		
		<div class="text-center"><a class="begin-button green lighten-2 waves-effect waves-light btn" href="{{ splash_url }}"> Begin </a></div>

		<div class="footer">
			<ul class="copyright text-center">
				<li>&copy; curio-x 2015. All rights reserved.</li>
			</ul>
		</div>
		<script src="{% static 'js/materialize.js' %}"></script>
		<script src="{% static 'js/style.js' %}"></script>
	</body>
</html>	
