<!-- Add html content either by extending a base or by inserting directly here -->
{% extends "base.html" %}

{% block content %}

<div class="standalone-login">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<!-- <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>Username</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Password</td>
    <td>{{ form.password }}</td>
</tr>
</table> -->

	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
  		<div class="row">
	  		<div class="input-field col s12">
				<input id="id_username" maxlength="254" name="username" type="text">
        		<label for="signin-username">Username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	    		<input type="password" id="id_password" name="password">
	    		<label for="signin-password">Password</label>
	    	</div>
	    </div>
	    <button type="submit" class="waves-effect waves-light btn">Login</button>
	    </div>
	    <input type="hidden" name="next" value="{{ settings.LOGIN_REDIRECT_URL }}" />
	</form>

</div>
{% endblock %}
