	<!DOCTYPE HTML>
{% load staticfiles %}

<html class="splash">
	<head>	
		<title>Curio – The Gamification of Citizen Science</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="Science, Gamification, UW, UWaterloo, Engineering, Research, Game Design, Design, Android, iOS, Mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.panzoom.js' %}"></script>
		<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<!-- <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" /> -->
		
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>
	<body class="main">

		<!-- Header -->
		<div class="header transparent">
			<!-- TODO: background image -->
			<div class="title text-center"><a class="no-decoration" href="/">curio-x</a></div>

		</div>

		<div class="container">

			<div class="spacing"></div>

			<div class="intro splash">
				<h4>You're Almost Done!</h4>

				<p>Please fill out the questionnaire with your username {{ username }}.</p>

				<a href="https://docs.google.com/forms/d/1RUrccUaYJCnfSezAwNs1A1LY0VxjiTXQXFjgewg87F8/viewform" class="waves-effect waves-light teal btn">Begin Questionnaire</a>
			</div>
		</div>
		
		<!-- <form action="https://docs.google.com/forms/d/1RUrccUaYJCnfSezAwNs1A1LY0VxjiTXQXFjgewg87F8/viewform">
			<div class="text-center">
				<input type="submit" class="questionnaire-button waves-effect waves-light" value="Begin Questionnaire"/>
			</div>
		</form> -->

		<div class="footer">
			<ul class="copyright text-center">
				<li>&copy; curio-x 2015. All rights reserved.</li>
			</ul>
		</div>
		<script src="{% static 'js/materialize.js' %}"></script>
	</body>
</html>	
